body {
	/*background-colour: #ffe9ec;*/
	background-color: #ffd0ca;
	font-family: monospace;
}

div {
	width: 50%;
	margin: 0 auto;
	padding-top: 100px;
}

nav {
	background-color: #E84A7A;
	height: 50px;
	position: fixed;
	top: 0;
	width: 100%;
}

.site-nav__list {
	list-style-type: none;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;
	margin-right: 20px;
	padding: 14px;
	text-transform: uppercase;
}

.site-nav__list-element {
	display: inline;
	font-size: 22px;
	font-weight: bold;
/*	height: 50px;
*/}

.site-nav__list-element a {
	box-sizing: border-box;
	color: #800080;
	text-decoration: none;
	padding: 14px;
}

.site-nav__list-element a:hover {
	background-color: pink;
	text-decoration: underline;
}

#contact {
	padding-bottom: 50px;
}

