a {
	color: #58007e;/*chosen for accessibility using http://colorsafe.co */
}

a:hover {
	font-weight: bold;
}

body {
	background-color: #ECF0F1;
	color: #2e343b; /*chosen for accessibility using http://colorsafe.co */
	font-family: monospace;
}

#leaves {
	height: auto;
	position: relative;
	width: 100%;
	z-index: 1;
}

#leaves.fixed-position {
	position: fixed;
	top: -60px;
}

header {
	background-color: #E84A7A;
	height: 50px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

footer {
	padding: 10px 0;
	text-align: center;
	width: 100%;
}

.avatar {
	border-radius: 50%;
	clear: both;
	float: right;
	height: auto;
	margin-left: 10px;
}

.avatar_logo {
	display: none;
	position: relative;
	margin-right: 29px;
	top: -41px;
	width: 30px;
}

@media (min-width: 630px) {
	.avatar_logo {
		display: block;
	}
}

#site-nav__hamburger, #site-nav__cross {
	box-sizing: border-box;
	float: right;
	height: 50px;
	padding-top: 15px;
	width: 56px;
}

#site-nav__cross {
	display: none;
	padding-top: 17px;
}

@media (min-width: 630px) {
	#site-nav__hamburger, #site-nav__cross {
		display: none;
	}
}

.site-nav__hamburger__part, .site-nav__cross__part {
	background-color: #58007e;
	height: 4px;
	margin: 0 14px 4px 14px;
	width: 28px;
}

.site-nav__cross__part:nth-of-type(1) {
	transform: translateY(150%) rotate(45deg);
}

.site-nav__cross__part:nth-of-type(2) {
	transform: translateY(-50%) rotate(-45deg);
}

.avatar_main {
	width: 150px;
}

.main {
	margin: 40px 0;
}

#site-nav__list {
	display: none;
	background-color: #E84A7A;
	font-weight: bold;
	height: 150px;
	overflow: hidden;
	list-style-type: none;
	margin: 0;
    padding: 0;
	position: absolute;
	right: 0;
	text-transform: uppercase;
    top: 50px;
    width: 160px;
}

.site-nav__list-element {
	font-size: 22px;
	line-height: 22px;
}

.site-nav__list-element a {
	display: block;
	border: dotted 1px;
	text-decoration: none;
	padding: 13px 14px;
}

.site-nav__list-element a:hover {
	background-color: #ECF0F1;
	text-decoration: underline;
}

@media (min-width: 630px) {
  .site-nav__list-element {
  	display: inline;
  }

  .site-nav__list-element a {
  	border: 0;
	display: inline;
	padding: 14px;
}

  #site-nav__list {
  	display: block;
	height: 22px;
	float: right;
	margin: 0 55px 0 0;
	padding: 14px;
	top: 0;
	width: 363.688px;
  }
}

.site-header__logo {
	float: left;
	font-family: 'Sacramento', monospace;
	font-size: 30px;
	font-weight: bold;
	line-height: 22px;
	list-style-type: none;
	margin-left: 14px;
	padding: 14px;
	text-decoration: none;
	text-transform: lowercase;
}

.site-project__list, .site-contact__list {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	padding: 14px;
}

.site-project__list-element {
	float: left;
	height: 300px;
    margin: 2.5% calc((100% - 200px) / 2);
    width: 200px;
}

.site-project__list-element a {
	border: 4px solid #2e343b;
	border-radius: 50%;
	display: block;
	height: 200px;
	position: relative;
    width: 200px;
}

.site-project__list-element img {
	height: 100px;
	position: absolute;
	right: 25%;
	top: 25%;
	width: 100px;
}

.site-project__list-element p {
	box-sizing: border-box;
	height: 100px;
	margin: 0;
	padding: 10px;
	text-align: center;
    width: 200px;
}

@media (min-width: 530px) {
  .site-project__list-element {
    margin: 2.5% calc((100% - 400px) / 4);
  }
}

@media (min-width: 830px) {
  .site-project__list-element {
    margin: 2.5% calc((100% - 600px) / 6);
  }
}

@media (min-width: 1460px) {
  .site-project__list-element {
  	height: 252px;
    margin: 2.5% calc((100% - 1008px) / 12);
    width: 168px;
  }
 
  .site-project__list-element a {
	height: 168px;
    width: 168px;
  }

  .site-project__list-element p {
	background-color: lightblue;
	height: 84px;
    width: 168px;
  }

}

.site-contact__list-element {
	background-color: rgba(232,74,122,0.6);
	float: left;
	height: 120px;
    width: 18%;
    margin: 2.5% 3.5%;
}

.contact_logo {
	width: 70%;
}

.spacer {
	width: 100%;
	height: 50px;
}

#about-position, #projects-position, #contact-position {
	display: block;
	height: 0;
	position: relative;
	top: -80px;
}

#copyright {
	display: inline-block;
	font-family: 'Sacramento', monospace;
}

#date-time {
	float: right;
	margin-right: 54px;
}

#outer-wrap {
	max-width: 100%;
	margin: 0 auto;
}

#inner-wrap {
	font-size: 1.3em;
	max-width: 90%;
	margin: 0 auto;
}