body {
	background-color: #ffc0cb;
	color: #2e343b; /*chosen for accessibility using http://colorsafe.co */
	font-family: monospace;
}

img {
	background-color: #4C632F;
	box-sizing: border-box;
	height: auto;
	position: relative;
	top: -50px;
	width: 100%;
}

footer {
	padding: 10px 0;
	text-align: center;
	width: 100%;
}

nav {
	background-color: #E84A7A;
	height: 50px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.site-nav__list {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	margin-right: 20px;
	padding: 14px;
	text-align: right;
	text-transform: uppercase;
}

.site-nav__list-element {
	display: inline;
	font-size: 22px;
	font-weight: bold;
	line-height: 22px;
}

.site-nav__list-element a {
	box-sizing: border-box;
	color: #58007e; /*chosen for accessibility using http://colorsafe.co */
	text-decoration: none;
	padding: 14px;
}

.site-nav__list-element a:hover {
	background-color: #ffc0cb;
	text-decoration: underline;
}

.site-nav__list-logo {
	float: left;
	font-family: 'Sacramento', monospace;
	font-size: 30px;
	text-transform: lowercase;
}

.site-nav__list-logo a:hover {
	text-decoration: none;
	background-color: inherit;
}

.site-project__list {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	padding: 14px;
}

.site-project__list-element {
	background-color: #4c632f;
	float: left;
    width: 40%;
    margin: 2.5% 5%;
}

#copyright {
	display: inline-block;
	font-family: 'Sacramento', monospace;
}

#date-time {
	float: right;
	margin-right: 54px;
}

#outer-wrap {
	max-width: 100%;
	margin: 0 auto;
	padding-top: 100px;
}

#inner-wrap {
	max-width: 90%;
	margin: 0 auto;
}

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}